@import "tailwindcss";

/* colors: #FF7A00(CTA's color)

secondary btns: #0056D2
electrifying : #0056D2 */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple:#30318B;
  --orange:#FF7E23;
  --grey : #adadad;
  --text: #000000;
}
/* windsurf-ignore */
:root.inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 background-color: #E6E7E9;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.98);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}